body {
    padding: 0px;
    margin: 0px;
}

.Container-ruta {
    display: flex;
    flex-wrap: nowrap;
    width: 900px;
    height: 200px;
    position: absolute;
    align-items: center;
    top: 60%;
    left: 15em;
    margin-top: 5em;
    border-radius: 3px;
}

#idaVuelta {}

.navbar {
    border-color: none;
    border-radius: 0%;
    background-color: rgb(229, 160, 229);
}

#login {
    position: relative;
    left: 80%;
    border-color: none;
}

#ruta {
    background-color: rgb(245, 237, 242);
    position: absolute;
    margin-left: -290px;
    width: 75em;
}

#search {
    width: 100px;
}

.div-ruta {
    display: inline-block;
    width: 200px;
    margin-left: 5px;
    padding: 0%;
    padding-bottom: 3px;
    padding-top: 5px;
}

.fecha {
    width: 140px;
}

#hora {
    margin-left: 15px;
}

#search {
    margin-left: 10px;
    width: 150px;
    padding: 0%;
}

.div-ruta select {
    width: 190px;
}

.button {
    width: 5px;
}

.buttons-ruta {
    width: 5px;
    position: relative;
    left: 13px;
}

.div-fecha {
    display: inline-block;
    width: 500px;
    margin-left: 5px;
    padding: 0%;
    padding-bottom: 3px;
    padding-top: 3px;
}

.cuadro-texto {
    padding: 8%;
    background-color: #b49cb4c6;
}

.cuadro-texto img {
    width: 400px;
    height: 400px;
    margin-bottom: 0em;
    display: inline-block;
    margin-left: 5em;
    margin-right: 200px;
}

.cuadro-texto div {
    margin-right: 55%;
    text-align: justify;
    padding-left: 0%;
    display: inline-block;
    background-color: aqua;
}

.galeria {
    width: 100px;
    padding-left: 7%;
    margin-left: 27px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    align-items: center;
    top: 60%;
}

.card-1 {
    margin-left: 0.5em;
}

#destinos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(5, 27, 27);
}

.table {
    width: 65em;
    margin-left: 5em;
}

.checked {
    color: orange;
}

.modal {}

.modal-window {
    margin-right: 50em;
}

#login {
    border-style: none;
    background-color: rgb(163, 67, 147);
    font-size: medium;
    margin-right: 0%;
    left: 0em;
    margin-left: 5px;
}

.navbarSupportedContent {
    margin-left: 70px;
    padding: 0%;
}

.reservas {
    margin-left: 500px;
    display: inline-block;
    width: 170px;
    padding: 0%;
    font-size: large;
}

#logo {
    width: 100px;
    height: 60px;
    margin-left: 15px;
}

#reserva-image {
    width: 500px;
    height: 500px;
    margin-bottom: 25em;
    display: inline-block;
    margin-left: 5em;
}

#reservas-card {
    display: inline-block;
    margin-left: 50px;
    width: 700px;
    border-color: rgba(230, 176, 204, 0.345);
    background-color: lavenderblush;
    margin-top: 30px;
}