body {
    padding: 0px;
    margin: 0px;
}

.Container-ruta {
    display: flex;
    flex-wrap: nowrap;
    width: 100em;
    height: 160px;
    position: absolute;
    align-items: center;
    top: 21em;
    left: 15em;
    right: 10em;
    margin-top: 5em;
    border-radius: 3px;
}

#idaVuelta {}

.navbar {
    border-color: none;
    border-radius: 0%;
    background-color: rgb(142, 139, 141);
}

#login {
    position: relative;
    left: 80%;
    border-color: none;
}

#ruta {
    background-color: rgb(199, 116, 138);
    position: absolute;
    margin-left: -260px;
    margin-right: -150px;
    width: 73.3em;
}

#search {
    width: 80px;
    padding-left: 15px;
    margin-right: 10px;
}

.div-ruta {
    display: inline-block;
    width: 220px;
    margin-left: 5px;
    padding: 0%;
    padding-bottom: 3px;
    padding-top: 5px;
}

.fecha {
    width: 140px;
}

#hora {
    margin-left: 15px;
}

#search {
    margin-left: 10px;
    width: 150px;
    padding: 0%;
}

.div-ruta select {
    width: 190px;
}

.button {
    width: 1px;
    padding-left: 15px;
}

.buttons-ruta {
    width: 1px;
    position: relative;
    left: 13px;
}

.div-fecha {
    display: inline-block;
    width: 500px;
    margin-left: 5px;
    padding: 0%;
    padding-bottom: 3px;
    padding-top: 3px;
}

.cuadro-texto {
    padding: 8%;
    background-color: #d9c7d9c6;
    height: 500px;
}

.cuadro-texto img {
    width: 500px;
    height: 400px;
    position: absolute;
    left: 45em;
    top: 38em;
}

.cuadro-texto div {
    margin-right: 55%;
    text-align: justify;
    padding-left: 0%;
    display: inline-block;
}

.galeria {
    width: 100px;
    padding-left: 7%;
    padding-right: 1%;
    margin-left: 11px;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    position: relative;
    top: 60%;
}

.card-1 {
    margin-left: 1.5em;
    padding-bottom: 1.8em;
    margin-bottom: 5em;
    background-color: rgb(230, 158, 168);
    width: 80%
}

#destinos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(5, 27, 27);
}

.table {
    width: 65em;
    margin-left: 5em;
}

.checked {
    color: orange;
}

.modal {}

.modal-window {
    margin-right: 50em;
}

#login {
    border-style: none;
    background-color: rgb(163, 67, 147);
    font-size: medium;
    margin-right: 0%;
    left: 0em;
    margin-left: 5px;
}

.navbarSupportedContent {
    margin-left: 70px;
    padding: 0%;
}

.reservas {
    margin-left: 500px;
    display: inline-block;
    width: 170px;
    padding: 0%;
    font-size: large;
}

#logo {
    width: 100px;
    height: 60px;
    margin-left: 15px;
}

#reserva-image {
    width: 500px;
    height: 500px;
    margin-bottom: 25em;
    display: inline-block;
    margin-left: 5em;
}

#reservas-card {
    display: inline-block;
    margin-left: 50px;
    width: 700px;
    border-color: rgba(230, 176, 204, 0.345);
    background-color: lavenderblush;
    margin-top: 30px;
}

#block-button {
    background-color: rgb(163, 67, 147);
    width: 300px;
    color: aliceblue;
    font-size: large;
}


/*footer*/

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: rgb(66, 59, 64);
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}