body {
    padding: 0px;
    margin: 0px;
}

.Container-ruta {
    display: flex;
    flex-wrap: nowrap;
    width: 100em;
    height: 160px;
    position: absolute;
    align-items: center;
    top: 21em;
    left: 15em;
    right: 10em;
    margin-top: 5em;
    border-radius: 3px;
}

#idaVuelta {}

.navbar {
    border-color: none;
    border-radius: 0%;
    background-color: rgb(142, 139, 141);
}

#login-btn {
    position: relative;
    left: 80%;
    border-color: none;
}

#ruta {
    position: absolute;
    margin-left: -260px;
    margin-right: -100px;
    width: 73.3em;
}

input #search {
    width: 80px;
    padding-left: 15px;
    margin-right: 10px;
}

.div-ruta {
    display: inline;
    width: 250px;
    padding: 0%;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.fecha {
    width: 140px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: flex-end;
}

#hora {
    margin-left: 0px;
    width: 190px;
}

#search {
    margin-left: 10px;
    width: 150px;
    padding: 0%;
}

.div-ruta select {
    width: 190px;
}

.button {
    width: 1px;
    padding-left: 15px;
}

.buttons-ruta {
    width: 1px;
    position: relative;
    left: 0px;
}

.div-fecha {
    display: inline-block;
    width: 300px;
    margin-left: 0px;
    padding: 0%;
    padding-bottom: 3px;
    padding-top: 3px;
}

.cuadro-texto {
    padding: 8%;
    background-color: #d9c7d9c6;
    height: 500px;
}

.cuadro-texto img {
    width: 500px;
    height: 400px;
    position: absolute;
    left: 45em;
    top: 38em;
}

.cuadro-texto div {
    margin-right: 55%;
    text-align: justify;
    padding-left: 0%;
    display: inline-block;
}

.galeria {
    width: 100px;
    padding-left: 7%;
    padding-right: 1%;
    margin-left: 11px;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    position: relative;
    top: 60%;
}

.card-1 {
    margin-left: 1.5em;
    padding-bottom: 1.8em;
    margin-bottom: 5em;
    background-color: rgb(230, 158, 168);
    width: 80%
}

#destinos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(5, 27, 27);
}

.table {
    width: 65em;
    margin-left: 5em;
}

.checked {
    color: orange;
}

.modal {}

.modal-window {
    margin-right: 50em;
}

#login {
    border-style: none;
    background-color: rgb(163, 67, 147);
    font-size: medium;
    margin-right: 0%;
    left: 0em;
    margin-left: 5px;
}

.navbarSupportedContent {
    margin-left: 70px;
    padding: 0%;
}

.reservas {
    margin-left: 500px;
    display: inline-block;
    width: 170px;
    padding: 0%;
    font-size: large;
}

#logo {
    width: 100px;
    height: 60px;
    margin-left: 15px;
}

#reserva-image {
    width: 500px;
    height: 500px;
    margin-bottom: 25em;
    display: inline-block;
    margin-left: 5em;
}

#reservas-card {
    display: inline-block;
    margin-left: 40px;
    width: 800px;
    bottom: 5em;
    height: 500px;
    border-color: rgba(134, 92, 114, 0.345);
    background-color: rgb(227, 202, 210);
    margin-top: 0px;
    padding: 0%;
    margin-bottom: 300px;
}

#block-button {
    background-color: rgb(163, 67, 147);
    width: 300px;
    color: aliceblue;
    font-size: large;
}


/*footer*/

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: rgb(66, 59, 64);
    min-height: 250px;
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 70%;
    height: 50px;
    background: #f8f5f5;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.button-account {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.button-account:hover {
    background: #6d44b8;
}

.login {
    height: 800px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-700px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {
    transform: scale(.6);
}

.main {
    width: 450px;
    height: 600px;
    background: rgb(203, 120, 149);
    overflow: hidden;
    border-radius: 10px;
}

.courses-container {
    width: 600px;
    height: 7em;
    margin-left: 25px;
}

.reservas-rutas {
    width: 600px;
    margin-left: 0px;
}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
    overflow: hidden;
    width: 700px;
    height: 200px;
}

.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.course-preview {
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
    max-width: 150px;
}

.course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/1077px-Star_icon_stylized.svg.png");
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.progress {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/1077px-Star_icon_stylized.svg.png");
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress::after {
    border-radius: 3px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/1077px-Star_icon_stylized.svg.png");
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 66%;
}

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

.btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}


/* SOCIAL PANEL CSS */

.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }
    .floating-btn {
        right: 10px;
    }
}

.mapouter {
    position: relative;
    text-align: right;
    height: 700px;
    width: 715px;
    left: 36em;
    bottom: 30em;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 400px;
    width: 715px;
}