@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 400;
  src: local('GT Walsheim Regular'), local('GT-Walsheim-Regular'),
       url('https://cdn-goeuro.com/static_content/web/content/font/gt-walsheim/GT-Walsheim-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://cdn-goeuro.com/static_content/web/content/font/gt-walsheim/GT-Walsheim-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 500;
  src: local('GT Walsheim Medium'), local('GT-Walsheim-Medium'),
       url('https://cdn-goeuro.com/static_content/web/content/font/gt-walsheim/GT-Walsheim-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://cdn-goeuro.com/static_content/web/content/font/gt-walsheim/GT-Walsheim-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 700;
  src: local('GT Walsheim Bold'), local('GT-Walsheim-Bold'),
       url('https://cdn-goeuro.com/static_content/web/content/font/gt-walsheim/GT-Walsheim-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('https://cdn-goeuro.com/static_content/web/content/font/gt-walsheim/GT-Walsheim-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
